{% load relationship_tags %}


<!-- Regainer follows Dietitian -->
{% if_relationship_possible user otheruser "regainer_following" %}
{% if_relationship user otheruser "regainer_following" %}
	
    {# they are following them, so show a "remove" url #}
    <a href="{{ otheruser|remove_relationship_url:"regainer_following" }}">Μην ακολουθείτε</a> 

  {% else %}
  
    {# they are not following them, so show a link to start following #}
    <a href="{{ otheruser|add_relationship_url:"regainer_following" }}">Ακολουθήστε</a> 

  {% endif_relationship %}
  {% endif_relationship_possible %}



<!-- Maintainer follows Dietitian -->
{% if_relationship_possible user otheruser "maintainer_following" %}
{% if_relationship user otheruser "maintainer_following" %}
	
    {# they are following them, so show a "remove" url #}
    <a href="{{ otheruser|remove_relationship_url:"maintainer_following" }}">Μην ακολουθείτε</a> 

  {% else %}
  
    {# they are not following them, so show a link to start following #}
    <a href="{{ otheruser|add_relationship_url:"maintainer_following" }}">Ακολουθήστε</a> 

  {% endif_relationship %}
  {% endif_relationship_possible %}


<!-- Friend relationships and requests -->
<!-- Friend request -->
{% if_relationship user otheruser "request_friend" %}
Έχετε αποστείλει αίτημα φιλίας
{% else %}


<!-- Maintainer befriends Maintainer -->
{% if_relationship_possible user otheruser "befriender_maintainers" %}
  {% if_relationship user otheruser "befriender_maintainers" %}
         {# they are following them, so show a "remove" url #}
         <a href="{{ otheruser|remove_relationship_url:"befriender_maintainers" }}">Διαγράψτε από φίλους</a>
  {% else %}

    {# they are not following them, so show a link to start following #}
    <a href="{{ otheruser|add_relationship_url:"request_friend" }}">Στείλτε αίτημα φιλίας</a>

  {% endif_relationship %}
{% endif_relationship_possible %}



<!-- Dietitian befriends Dietitian -->
{% if_relationship_possible user otheruser "befriender_dietitians" %}
  {% if_relationship user otheruser "befriender_dietitians" %}
         {# they are following them, so show a "remove" url #}
         <a href="{{ otheruser|remove_relationship_url:"befriender_dietitians" }}">Διαγράψτε από φίλους</a>
  {% else %}

    {# they are not following them, so show a link to start following #}
    <a href="{{ otheruser|add_relationship_url:"request_friend" }}">Στείλτε αίτημα φιλίας</a>

  {% endif_relationship %}
{% endif_relationship_possible %}



<!-- Regainer befriends Regainer -->
{% if_relationship_possible user otheruser "befriender_regainers" %}
  {% if_relationship user otheruser "befriender_regainers" %}
         {# they are following them, so show a "remove" url #}
         <a href="{{ otheruser|remove_relationship_url:"befriender_regainers" }}">Διαγράψτε από φίλους</a>
  {% else %}

    {# they are not following them, so show a link to start following #}
    <a href="{{ otheruser|add_relationship_url:"request_friend" }}">Στείλτε αίτημα φιλίας</a>

  {% endif_relationship %}
{% endif_relationship_possible %}


<!-- End of friend relationships and requests -->
{% endif_relationship %}
