{% extends "base.html" %}
{% block content %}


		<div class="row">
			<div class="col-xs-6 col-md-3">
				 <div id="left-container"><h3>Application Edit</h3>
					 <br/><center><img src="/static/main/img/gadget.png" width="120"/></center><br/>
					 <p style="text-align:justify">	 Your application are: <br/>
					 <ul class="nav nav-pills nav-stacked"> 
						{% if apps %}
							 {% for app in apps %}
								<li>
								<a href="/apps/edit_app/{{app.id}}"> {{app.name}}</a>
								</li>
							  {% endfor %}
						{% endif %}
					<!--<a href="/apps/new/">New Gadget</a>-->
					</ul>
				</div>
			</div>
		</div>

{% endblock %}
