{% load notifications_tags %}
{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>
			nity
		</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	 <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>	
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	<script src="/static/shadowbox/shadowbox.js"></script>
	<link href="/static/main/main.css" rel="stylesheet" type="text/css"/>
	<link href="/static/shadowbox/shadowbox.css" rel="stylesheet" type="text/css"/>
    	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" type="image/x-icon" href="/static/main/img/favicon_unity.ico">
	<link rel="stylesheet" type="text/css" href="/static/main/ajax-search.css" />
	<link rel="stylesheet" type="text/css" href="/static/main/datepicker.css" />
	<script src="/static/main/ajax-search.js" type="text/javascript"></script>
	<script src="/static/main/bootstrap-datepicker.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="/static/js-graph/js-graph-it.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js-graph/js-graph-it.css">
    

	
	</head>
	<body class="yui-skin-sam" id="top">
		
	{% block top %}
		{% if user.is_authenticated %}
		
			<div class="navbar navbar-default navbar-fixed-top">
				
				
				
				{% if user.profile.role|stringformat:"s" == "Developer" %} <!--# check if user is developer -->
					<ul class="nav navbar-nav" id="main-nav">
						<a class="navbar-brand" href="#"><img width="50" src="/static/main/img/unity.gif" alt="Unity Logo"/></a>
						<li><a href="/">Home</a></li>
						<li><a href="/user/profile/{{user.username}}">{% trans "Profile" %}</a></li>
						<li><a href="/user/search/">{% trans "Users" %}</a></li>
						<li><a href="/groups/">{% trans "Groups" %}</a></li>  
						<li><a href="/apps/">{% trans "Applications" %}</a> </li> 
						{% if user.is_superuser %}
							<li><a href="/admin" target="blank">{% trans "Admin Panel" %}</a> </li> 
						{% endif %}
					</ul>
				{%else%}						
					<ul class="nav navbar-nav" id="main-nav">
						<a class="navbar-brand" href="#"><img width="50" src="/static/main/img/unity.gif" alt="Unity Logo"/></a>
						<li><a href="/">Home</a></li>
						<li><a href="/user/profile/{{user.username}}">{% trans "Profile" %}</a></li>
						<li><a href="/user/search/">{% trans "Users" %}</a></li>
						<li><a href="/groups/">{% trans "Groups" %}</a></li>  
						<li><a href="/apps/">{% trans "Applications" %}</a> </li> 
					</ul>
				{% endif %}
				
				
				
				<div id="right-nav-opts">
					<ul class="nav navbar-nav navbar-right">
						<div id="logged-in-panel">{% notifications_unread as unread_count %}
							<div class="btn-group">
							<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-bullhorn">&nbsp;<span id="notifications-count">{{ unread_count }}<span></span>
							</button>
							<div class="dropdown-menu">
								<iframe id="notifications-tab" scrolling="yes" frameborder="0" src="/notifications/unread"></iframe>	
							</div>
						</div>
						&nbsp;<a class="profile-picture-prev" data-toggle="tooltip" title="{{user.profile.displayName}}" href="/user/profile/{{user.username}}"><img src="{{user.profile.thumbnailURL}}" class="img-rounded" title="{{user.profile.displayName}}" /></a>&nbsp;&nbsp;<a href="/user/logout/" class="btn btn-primary">{% trans "Logout" %}</a></div>
					</ul>
				</div>
			</div><br>
				
		{% else %}
		<div id="not_authenticated"></div>
		{% endif %}
		
	{% endblock %}
		
	<div id="bd">
		{% block content %}
		{% endblock %}
	</div>
	
	<div id="ft">
		{% block footer %}
		{% endblock %}
		
			
	
	</div>	
	
	<div id="overlay">
	<div id="overlay_content" style="color:white" ></div>
	</div>
		
	</body>
</html>
