{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Profile edit" %}{% endblock %}

{% block content %}
<script type="text/javascript">
$(function() {
    $( ".datepicker" ).datepicker();
  });
</script>
<div class="row">
<form action="." id="testFormCicu" method="POST">{% csrf_token %}
<fieldset id="profile-edit-form">
	{{ image_form.media }}
        
  <div class="col-xs-6 col-md-3" id="left-content">

	<h1>{% trans "Profile edit" %}</h1>
	{% for field in form %}
	{% if field.label = "Εικόνα" %}
	<b>Image:</b>{{field}}{{ image_form.as_p }}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
	{% endif %}
	{% if field.label = "Εμφανιζόμενο Όνομα"%}
	<b>Display name:</b>{{field}}<br/>  {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
	{% endif %}
	{% if field.label = "Ονοματεπώνυμο"%}
	<b>Name:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
	{% endif %}
	{% if field.label = "Gender"%}
	<b>Gender:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
	{% endif %}
	{% endfor %}
	<center><button class="btn btn-success" type="submit">{% trans "Save" %}</button>&nbsp;<a class="btn btn-danger" href="/user/profile/{{ user.username }}">Return to profile</a><br/></center><br/><br/>
	
  </div>
  <div class="col-xs-6 col-md-5">
	<br/>
	<br/>
	{% if user.profile.role|stringformat:"s" != "Developer" %} 
		{% for field in form %}
			{% if field.label = "Περιγραφή" %}
			<b>Description:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
			{% endif %}
			{% if field.label = "Περιοχή" %}
			<b>Area:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
			{% endif %}
			{% if field.label = "Ημερομηνία Γέννησης" %}
			<b>Birthday date:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
			{% endif %}
			{% if field.label = "Family Status" %}
			<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
			{% endif %}
			{% if field.label = "Activities" %}
			<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
			{% endif %}
			{% if field.label = "Studies" %}
			<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
			{% endif %}
		{% endfor %}
	{% else %} <!-- developer profile -->
		{% for field in form %}
				{% if field.label = "Περιγραφή" %}
				<b>Description:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
				{% endif %}
				{% if field.label = "Περιοχή" %}
				<b>Area:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
				{% endif %}
				{% if field.label = "Ημερομηνία Γέννησης" %}
				<b>Birthday date:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
				{% endif %}
				{% if field.label = "Family Status" %}
				<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
				{% endif %}
				{% if field.label = "Activities" %}
				<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
				{% endif %}
				{% if field.label = "Studies" %}
				<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
				{% endif %}
		{% endfor %}
	{% endif %}
	
            
        
</div>
<!--
<div class="col-xs-6 col-md-4"><br/><br/>
{% if user.profile.role|stringformat:"s" != "Developer" %} 
	{% for field in form %}
		{% if field.label = "Αγαπημένο φαγητό" %}
		<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
		{% endif %}
		{% if field.label = "Αγαπημένο άθλημα" %}
		<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
		{% endif %}
		{% if field.label = "Ενδιαφέροντα" %}
		<b>{{ field.label}}:</b>{{field}}<br/> {% if field.errors %} <div class="alert alert-danger">{{field.errors}}</div> {% endif %}
		{% endif %}
	{% endfor %}
{% endif %}
</div>
-->
</fieldset></form>
</div>


    
{% endblock %}
