{% block content %}

{% load i18n %}
{% get_current_language as en %}

<center>


<div class="jumbotron" id="jumbo">
  <div class="container">

<img width="180" src="/static/main/img/unity.gif" alt="MedWeight Logo"/>
<h2>Log in</h2>

{% if user.is_authenticated %}
Hi, ({{ user.username }}). <a href="{% url 'auth_logout' %}">Logout</a>
{% else %}
{% include "form.html" %}
    

    <a href="{% url 'auth_password_reset' %}">Remember Password</a><!-- | <a href="/user/register/">Εγγραφή--></a><br>
    <a href="/user/developer/register">Developers Sign Up</a><!-- | <a href="/user/register/">Εγγραφή--></a>
    
  
{% endif %}

</div>
</div>
</center>
{% endblock %}
